@import 'https://fonts.googleapis.com/css?family=Raleway:700';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
}

/* Brand */
.navbar-default .navbar-brand {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    -webkit-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: blue;
}

/* Links */
.navbar-default .navbar-nav > li > a {
    color: black;
}

/* Links on hover */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: blue;
}

/* Login Button */
.navbar-btn {
    margin-right: 20px;
    background: transparent;
    border: 1px solid white;
    -webkit-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}

.navbar-btn:hover {
    background-color: white;
}