@import 'https://fonts.googleapis.com/css?family=Raleway:300';

/* Main */
html, body {
    height: 100%;
    width: 100%;
}

/* Page Content */
h1 {
    color: #373737;
}

#wrapper-content {
    padding-top: 80px;
}

.container {
    width: 80%;
    margin-bottom: 20px;
}

.border {
    border: 1px solid #373737;
    border-radius: 5px;
}

.row {
    padding: 10px;
}

h1,
.section-header,
.section-description,
.subsection-header,
.link {
    font-family: 'Raleway', sans-serif;
}

.section-header {
    font-size: 1.7em;
    color: #C0B283;
}

.section-description {
    color: #373737;
}

.subsection-header {
    color: #B87A6F;
}

.link {
    color: #373737;
    -webkit-transition: color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}

.link:hover,
.link:focus {
    color: #C0B283;
}

/* Footer */
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 30px 50px 30px 50px;
    background-color: #373737;
}

.footer > span {
    color: #F4F4F4;
}

.footer > span.footer-desc > a {
    color: #C0B283;
}

.footer > span.footer-desc > a:hover,
.footer > span.footer-desc > a:focus {
    text-decoration: none;
}