@import url('https://fonts.googleapis.com/css?family=Rubik:300');

/* Main */
html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
}

/* Page Content */
#wrapper-content {
    width: 100%;
    position: relative;
}

.container {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
}

h1 {
    margin-top: 80px;
    color: #C0B283;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

/* Form */
.form-content {
    height: 34px;
    margin: 0;
    background: rgba(250, 250, 250, 0.9);
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    box-shadow: none;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.form-content:hover,
.form-content:focus {
    border: 1px solid #DCDCDC;
    box-shadow: none;
    -webkit-box-shadow: none;
}

form > .form-group > label {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #373737;
}

.text-muted {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #B87A6F;
}

/* Submit Button */
.btn-default {
    border: 1px solid #C0B283;
    color: #373737;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.btn-default:hover {
    background: transparent;
    border: 1px solid #C0B283;
    color: #C0B283;
}

.btn-default:focus,
.btn-default:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer {
    width: 100%;
    margin-top: 20px;
    padding: 30px 50px 30px 50px;
    background-color: #373737;
}

.footer > span {
    color: #F4F4F4;
}

.footer > span.footer-desc > a {
    color: #C0B283;
}

.footer > span.footer-desc > a:hover,
.footer > span.footer-desc > a:focus {
    text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 575px) {
    .container {
        margin-top: 30%;
        margin-bottom: 30%;
        width: 95%;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        margin-top: 20%;
        margin-bottom: 20%;
        width: 70%;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 50%;
    }
}

@media only screen and (min-height: 730px) {
    .container {
        top: 50%;
        transform: translateY(-50%);
    }
}