@import url('https://fonts.googleapis.com/css?family=Raleway:300');

/* Main */
html, body {
    height: 100%;
    width: 100%;
}

/* Page Content */
#wrapper-content {
    width: 100%;
    min-height: 100%;
}

#wrapper-content:after {
    content: "";
    display: block;
    height: 80px;
}

.container {
    width: 60%;
    padding-top: 10%;
}

h1,
.warning {
    font-family: 'Raleway', sans-serif;
    color: #373737;
}

/* Form */
form > .form-group > #username,
form > .form-group > #old_password,
form > .form-group > #new_password,
form > .form-group > #new_password_conf {
    padding: 0 5px;
    border-bottom: 1px solid #373737;
    border-radius: 0;
}

textarea {
    border: 1px solid #373737 !important;
}

form > .row > .form-link:nth-child(1) {
    text-align: right;
}

/* Save Button */
.btn-default {
    border: 1px solid #C0B283;
    color: #373737;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.btn-default:hover {
    background: transparent;
    border: 1px solid #C0B283;
    color: #C0B283;
}

.btn-default:focus,
.btn-default:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Footer */
.footer {
    width: 100%;
    padding: 30px 50px 30px 50px;
    background-color: #373737;
}

.footer > span {
    color: #F4F4F4;
}

.footer > span.footer-desc > a {
    color: #C0B283;
}

.footer > span.footer-desc > a:hover,
.footer > span.footer-desc > a:focus {
    text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
    .footer {
        margin-top: 20px;
    }
}