@import 'https://fonts.googleapis.com/css?family=Baloo+Da';
@import 'https://fonts.googleapis.com/css?family=Raleway:300';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.parallax {
    height: 100%;
    background-image: url("http://i.imgur.com/bbwkb4R.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.statistics {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.statistics > div {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #373737;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #DCD0C0;
}

.statistics > div > img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 38px;
    max-height: 38px;
    width: auto;
    height: auto;
    height: auto;
    display: block;
}

.statistics > div > p {
    margin: 0;
}

.statistics > div > span {
    font-size: 20px;
}

.statistics > div:not(:last-child) {
    border-right: 1px solid #DCD0C0;
}

.statistics > div > hr {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 10%;
    border-top: 1px solid #DCD0C0;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sect1,
.sect3 {
    background-color: #F4F4F4;
}

.content > div {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.content > .row > .col-md-12 {
    margin-bottom: 25px;
    color: #B87A6F;
    font-size: 28px;
}

.content > .row:nth-child(4) > .col-md-12 {
    margin-top: 40px;
}

.content > .section-header {
    margin-bottom: 40px;
}

.content > .row > span {
    color: #C0B283;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

.content > .row > .col-md-2 {
    padding-bottom: 30px;
    font-size: 17px;
}

.glyphicon.glyphicon-pencil,
.glyphicon.glyphicon-user,
.glyphicon.glyphicon-heart-empty,
.glyphicon.glyphicon-book,
.glyphicon.glyphicon-earphone,
.glyphicon.glyphicon-cog,
.glyphicon.glyphicon-plus-sign,
.glyphicon.glyphicon-inbox,
.content > .row > .col-md-1 > .glyphicon.glyphicon-search,
.glyphicon.glyphicon-thumbs-up,
.glyphicon.glyphicon-time,
.glyphicon.glyphicon-usd {
    font-size: 30px;
}

.sect2 > .row > .col-md-1,
.sect2 > .row > .col-md-5 {
    margin-bottom: 30px;
}

.sect2 > .row > .col-md-1:hover,
.sect2 > .row > .col-md-5:hover {
    margin-bottom: 30px;
}

.sect2 > .row > .col-md-1 {
    padding: 0;
}

.sect2 > .row > .col-md-5 {
    text-align: left;
}

.sect2 > .row > .col-md-5 > .brief,
.sect2 > .row > .col-md-5 > .description {
    margin: 0;
}

.sect2 > .row > .col-md-5 > .brief {
    color: #B87A6F;
    font-size: 28px;
}

.sect2 > .row > .col-md-5 > .description {
    color: #373737;
    font-size: 17px;
}

.footer {
    padding: 30px 50px 30px 50px;
    background-color: #373737;
}

.footer > span {
    color: #F4F4F4;
}

.footer > span.footer-desc > a {
    color: #C0B283;
}

.footer > span.footer-desc > a:hover,
.footer > span.footer-desc > a:focus {
    text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
    .glyphicon.glyphicon-chevron-right {
        display: none;
    }
    
    .glyphicon.glyphicon-chevron-down {
        display: block;
    }
    
    .sect2 > .row > .col-md-1 {
        margin-bottom: 10px;
        padding-left: 15px;
        text-align: left;
    }
}

@media only screen and (min-width: 992px) {
    .glyphicon.glyphicon-chevron-right {
        display: block;
    }
    
    .glyphicon.glyphicon-chevron-down {
        display: none;
    }
}
































