@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');

/******************************************************************************
General
******************************************************************************/
html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.container {
    margin-bottom: 100px;
}

h1, .sect-header {
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
}

/******************************************************************************
Tables
******************************************************************************/
.dataTables_info,
.dataTables_wrapper > div:nth-child(5) > .dataTables_length,
.dataTables_filter {
    display: none;
}

.dataTables_wrapper {
    font-family: 'Rubik', sans-serif;
}

table {
    border: 1px solid #373737;
    border-radius: 5px;
}

table.dataTable th:nth-of-type(1),
table.dataTable td.sorting_1 {
    display: none;
}

table.display tbody tr:nth-child(odd) td {
    background-color: #F4F4F4 !important;
}

table.display tbody tr:nth-child(even) td {
    background-color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #373737 !important;
    border: 1px solid transparent;
    background-color: white;
    background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(255,0,0,0));
    background: -moz-linear-gradient(top, rgba(255,0,0,0), rgba(255,0,0,0));
    background: -ms-linear-gradient(top, rgba(255,0,0,0), rgba(255,0,0,0));
    background: -o-linear-gradient(top, rgba(255,0,0,0), rgba(255,0,0,0));
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0));
}

/* View Button */
.btn-default {
    border: 1px solid #C0B283;
    color: #373737;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1.5px;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;

}

.btn-default:hover {
    background: transparent;
    border: 1px solid #C0B283;
    color: #C0B283;
}

.btn-default:focus,
.btn-default:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
th:nth-of-type(1),
td:nth-of-type(1) {
    display: none;
}
*/