@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');

/******************************************************************************
General
******************************************************************************/
html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.container {
    margin-bottom: 100px;
}

.sect-header {
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
}

/******************************************************************************
Tables
******************************************************************************/
.dataTables_info,
.dataTables_wrapper > div:nth-child(5) > .dataTables_length,
.dataTables_filter {
    display: none;
}

.dataTables_wrapper {
    font-family: 'Rubik', sans-serif;
}

table {
    width: 100%;
}

/*
th:nth-of-type(1),
td:nth-of-type(1) {
    display: none;
}
*/